<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/yht/style.css}">

</head>
<body class="fixed-sidebar full-height-layout gray-bg">
    <div class="wrapper">
        <!--左侧导航-->
        <nav class="navbar navbar-default navbar-static-top">
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="nav-header">
                        <span class="logo-lg">
                            <img src="/img/jiansheng.jpg" alt="[Yanght]">
                        </span>
                            <div>
                            <span>
                            <span>
                            <strong>尤涅若</strong>
                        </span>
                        <span>
                            <strong>研发部</strong>
                        </span>
                        </span>
                            </div>
                        </li>
                        <li>

                        </li>
                        <li th:each="menu : ${menus}">
                            <a href="#">
                                <i th:class="${menu.icon}"></i>
                                <span class="nav-menu" th:text="${menu.menuName}"></span>
                                <span class=" fa fa-angle-right"></span>
                            </a>
                            <span></span>
                            <ul>
                                <li th:each="cmenu : ${menu.children}">
                                    <a href="" th:text="${cmenu.menuName}"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
        <!--右侧部分-->
        <div id="page-wrapper" class="gray-bg dashboard-1">


        </div>
    </div>
    <script th:src="@{/yht/js/jquery-2.1.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/index.js}"></script>
</body>
</html>