<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/layui.css}">
    <style>
        .x-iframe{
            width: 100%;
            height: 100%;
        }
        .layui-tab-item{
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">layui 后台布局</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li th:each="menu : ${menus}" class="layui-nav-item layui-nav-itemed">
                    <a href="#" th:text="${menu.menuName}"></a>
                    <dl class="layui-nav-child">
                        <dd th:each="cmenu : ${menu.children}">
                            <a th:href="@{${cmenu.url}}" th:text="${cmenu.menuName}" ></a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-tab tab" lay-filter="mainTab" lay-allowclose="false" style="height: 100%">
            <ul class="layui-tab-title">
                <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
            </ul>
            <div class="layui-tab-content" style="height: 100%;">
                <div class="layui-tab-item layui-show" style="height: 100%;">
                    <iframe th:src="@{/main}" frameborder="0" scrolling="yes" class="x-iframe"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script th:src="@{/yht/js/jquery-2.1.1.min.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    $(function () {


        layui.use('element', function(){
            var element = layui.element;

            $('.layui-nav-tree li dl dd').click(function (event) {
                var url = $(this).children('a').attr('href');
                alert(url)
                var title = $(this).find('a').html();
                var index = $('.layui-nav-tree li dl dd').index($(this));

                for (var i = 0 ;i < $('.x-iframe').length; i++){
                    if ($('.x-iframe').eq(i).attr('tab-id')==index+1){
                        tab.tabChange(index + 1);
                        event.stopPropagation();
                        return;
                    }
                } ;
                tab.tabAdd(title,url,index+1);
                tab.tabChange(index+1);
            });

            //点击新增子页面
            var tab = {
                tabAdd: function (title,url,id) {
                    element.tabAdd('mainTab',{
                        title: title,
                        content: '<iframe tab-id="'+id+'" frameborder="0" src="'+url+'" scrolling="yes" class="x-iframe"></iframe>',
                        id: id
                    })
                },
                tabDelete:function (othis) {
                    element.tabDelete('mainTab',id);
                    othis.addClass('layui-btn-disabled');
                },
                tabChange:function (id) {
                    //切换到制定tab项
                    element.tabChange('mainTab',id);
                }
            };
        });


    })

</script>
</body>
</html>