body{
    font-size: 16px;
}

a{
    cursor: pointer;
}

a{
    text-decoration: none;
}

a{
    background-color: transparent;
}

.page-tabs a{
    color: #999;
}
.siderbar-collapse{
    width: auto;
    height: 100%;
}

.nav .fa{
    float: right;
}

.nav-header{
    background: #1E9FFF;
    padding: 30px 25px 25px 45px;
}

dropdown-toggle{
    font-size: 12px;
    color: #fff;
    margin-top: 10px;
    margin-left: 10px;
    list-style: none;
}

.text-muted{
    color: #fff;
}

strong{
    color: #fff;
}

.nav li ul{
    background: lightskyblue;
}

.nav>li>a:hover , .nav>li>a:focus{
    background: #38c1ff;
    color: #fff;
}

.nav>li>a{
    color: #ffffff;
}

.nav-second-level>li>a{
    padding-left: 50px;
}
.navbar-default{
    background-color: transparent;
    border-color: #2f4050;
    position: relative;
}



.navbar-static-side {
    position: fixed;
    width: 220px;
    z-index: 2001;
    height: 100%;
    color: #a6a8b1;
    background-color: #3a3f51;
}

.nav li{
    list-style: none;
}


#page-wrapper{
    padding: 0 15px;
    position: inherit;
    margin: 0 0 0 220px;
}
.navbar-static-top{
    background: lightskyblue;
    width: 100%;
    margin-bottom: 0;
}
.fa-bars{
    margin-top: 18px;
    margin-left: 15px;
}

.side-message{
    margin-right: 15px;
    float: left;
}

body.fixed-sidebar.mini-navbar .nav li:hover>.nav-second-level, .mini-navbar .nav li:focus>.nav-second-level{
    display: block;
    border-radius: 0 2px 2px 0;
    min-width: 140px;
    height: auto;
}

.fixed-sidebar.mini-navbar .nav li:hover>.nav-second-level, .fixed-sidebar.mini-navbar .nav li:hover>a>span.nav-label{
    position: absolute;
    left: 70px;
    display: block;
}


.mini-navbar .navbar-static-side{
    width: 70px;
}

body.mini-navbar #page-wrapper{
    margin: 0 0 0 70px;
}

.mini-navbar .navbar-default .nav>li.nav-second-level li a{
    font-size: 12px;
    border-radius: 0 2px 2px 0;
}

.mini-navbar .nav-second-level li a{
    padding: 10px 10px 10px 15px;
}

.mini-navbar li.active .nav-second-level{
    left: 65px;
}

body.mini-navbar .nav-label, body.mini-navbar .navbar-default .nav li a span{
    display: none;
}

.mini-navbar .profile-element span{
    margin-left: -50px;
}

.mini-navbar .nav li>.nav-second-level{
    display: none;
}

.mini-navbar .nav-header{
    padding-right: 10px;
    background: #3a3f51;
}

.side-message{
    margin-top: 18px;
    margin-left: 90%;
}


/*菜单tab*/
.content-tabs{
    border-bottom: solid 2px #39aef5;
    position: relative;
    height: 42px;
    background: #fafafa;
    line-height: 40px;
    margin-top: 0;
}

.content-tabs .roll-left{
    border-top: 0;
    background: #fff;
    left: 0;
    border-right: solid 1px #eee;
}

.content-tabs .roll-right{
    border-top: 0;
    border-right: solid 1px #eee;
}

.content-tabs .roll-nav{
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #999;
    z-index: 2;
    top: 0;
    border-bottom: #30aef5;
}

.roll-right.tabRight{
    background: #fff;
    right: 140px;
}

.roll-right.btn-group{
    right: 60px;
    width: 80px;
    padding: 0;
}

.btn-group.roll-right button{
    background: #fff;
    font-size: 13px;
    margin-left: 0;
    margin-bottom: 0;
    height: 40px;
    border-bottom: solid 1px #eee;
}

.tabReload{
    font-size: 13px;
    height: 40px;
    width: 60px;
    right: 0;
}

.J_tabClose{
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
}

#content-main{
    height: 100%;
    overflow: hidden;
}


.page-tabs{
    margin-left: 40px;
    height: 40px;
    width: 100000px;
    overflow: hidden;
}

.page-tabs-content{
    float: left;
}

.page-tabs a.active{
    background: #39aef5;
    color: #fff;
}

.page-tabs a{
    display: block;
    float: left;
    border-right: solid 1px #eee;
    padding: 0 15px;
    font-size: 12px;
}

.dropdown-menu{
    font-size: 13px;
}



.footer{

    background: none repeat scroll 0 0 white;
    border-top: 1px solid #e7eaec;
    overflow: hidden;
    padding: 10px 20px;
    margin: 0 -19px;
    height: 36px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer .copy-right{
    right: 100px;
    margin-bottom: 3px;
    font-size: 13px;
}






