body{
    font-size: 16px;
}

.siderbar-collapse{
    width: auto;
    height: 100%;
}

.nav .fa{
    float: right;
}

.nav-header{
    background: #1E9FFF;
    padding: 30px 25px 25px 45px;
}

.nav li ul{
    background: lightskyblue;
}

.nav>li>a:hover , .nav>li>a:focus{
    background: #38c1ff;
    color: #fff;
}

.nav>li>a{
    color: #ffffff;
}

.nav-second-level>li>a{
    padding-left: 50px;
}
.navbar-default{
    background-color: transparent;
    border-color: #2f4050;
    position: relative;
}



.navbar-static-side {
    position: fixed;
    width: 220px;
    z-index: 2001;
    height: auto;
    color: #a6a8b1;
    background-color: #3a3f51;
}

.nav li{
    list-style: none;
}


#page-wrapper{
    padding: 0 15px;
    position: inherit;
    margin: 0 0 0 220px;
}
.navbar-static-top{
    background: lightskyblue;
    width: 100%;
}
.fa-bars{
    margin-top: 18px;
    margin-left: 15px;
}

.side-message{
    margin-right: 15px;
    float: left;
}


.mini-navbar .navbar-static-side{
    width: 70px;
}

body .mini-navbar #page-wrapper{
    margin: 0 0 0 70px;
}

.mini-navbar .navbar-default .nav>li.nav-second-level li a{
    font-size: 12px;
    border-radius: 0 2px 2px 0;
}

.mini-navbar .nav-second-level li a{
    padding: 10px 10px 10px 15px;
}

.mini-navbar li.active .nav-second-level{
    left: 65px;
}





















